@import url('https://fonts.googleapis.com/css?family=Fira+Code:400,500&display=swap');

body{
    padding: 3rem 25rem;
    margin: auto;
    font-family: 'Fira Code', monospace;
    background: black;
    color: whitesmoke;
}

.section{
    margin: 15px 0;
    padding: 20px 0;
}

input{
    margin: auto;
    vertical-align: middle;
}

.checkbox_section{
    padding: 5px;
    display: grid;
    grid-template-columns: 10% 90%;
    column-gap: 10px;
}

.section:nth-of-type(2n){
    background: #222;
}